body{
    margin:0;
    padding:0;
    background-color: rgb(81, 184, 81);
}
.login{
    width:382px;
    overflow:hidden;
    background-color: white;
    margin:auto;
    margin-left:500px;
    margin-right:500px;
    margin-top:200px;
    padding:50px;

}
#Uname{

    width: 350px;
    height:30px;
    padding-left:10px;
    border:none;
    background-color: rgba(225, 222, 222, 0.932);
}
#Pass{
    width:350px;
    height:30px;
    padding-left:10px;
    border:none;
    background-color: rgba(225, 222, 222, 0.932); 
}
#log{
    width:360px;
    height:30px;
    padding-left:10px;
    border:none;
    background-color:rgb(28, 197, 28) ;
    color:white;
    text-align: center;
}
.register{
     text-align: center;
    

}
p{
    color:rgb(172, 169, 169);
}
a{
    text-decoration: none;
    color:rgb(28, 194, 28);
}